html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
}
html body {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin: 0;
  padding: 0;
  background: rgb(white);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 150px;
  font-size: 20px;
  margin: 5px 0;
}

button {
  width: 250px;
  height: 50px;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 50px;
}
